<h3>@cds/core Grid with detail</h3>
<section cds-layout="vertical gap:md">
  <p>Notes on a Clarity core grid</p>
  <ul>
    <li>
      Bind vm properties to for the correct aria states
      <ul>
        <li>Columns will set up: role, aria-colindex and aria-sort internally</li>
      </ul>
    </li>
    <li>
      The toggleDetail method:
      <ul>
        <li>is called with the click event and the vm object</li>
        <li>will control the grid detail [anchor] and the currentVM</li>
        <li>When there is a currentVM, use *ngIf on `cds-grid-detail` and add details to the DOM.</li>
      </ul>
    </li>
  </ul>
</section>
<cds-grid aria-label="row detail datagrid demo" style="--body-height: 360px;">
  <!-- TODO: investigate why I need to set width here -->
  <cds-grid-column width="36px" type="action" aria-label="row detail column"></cds-grid-column>
  <cds-grid-column *ngFor="let column of dataFields" [id]="column">
    {{ column | titlecase }}
  </cds-grid-column>
  <cds-grid-row *ngFor="let vm of data">
    <!-- Add in the button for detail pane toggle and use the currentVM to set up its aria state -->
    <cds-grid-cell type="action">
      <cds-action-expand
        [attr.aria-label]="getDetails(vm.id)"
        (click)="toggleDetail($event, vm)"
        action="detail"
        [attr.expanded]="this.currentVM?.id === vm.id"
      ></cds-action-expand>
    </cds-grid-cell>
    <cds-grid-cell *ngFor="let column of dataFields">
      {{ $any(vm)[column] }}
    </cds-grid-cell>
  </cds-grid-row>
  <cds-grid-footer></cds-grid-footer>
  <cds-grid-detail aria-labelledby="heading" [anchor]="this.anchor" *ngIf="currentVM" (closeChange)="currentVM = null">
    <section cds-layout="vertical align:center gap:lg">
      <h2 id="heading" cds-text="section" cds-layout="align:left">{{ this.currentVM?.id }}</h2>
      <p cds-text="body">Status: {{ this.currentVM?.status }}</p>
      <p cds-text="body">CPU: {{ this.currentVM?.cpu }}%</p>
      <p cds-text="body">Memory: {{ this.currentVM?.memory }}%</p>
    </section>
  </cds-grid-detail>
</cds-grid>
<h2>@clr/angular Datagrid with detail</h2>
<section cds-layout="vertical gap:md">
  <p>Notes on a Clarity Angular Datagrid</p>
</section>
<clr-datagrid style="width: 100%;">
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>Status</clr-dg-column>
  <clr-dg-column>Memory</clr-dg-column>
  <clr-dg-column>About</clr-dg-column>

  <clr-dg-row *ngFor="let vm of data" [clrDgItem]="vm">
    <clr-dg-cell>{{ vm.id }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.status }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.memory }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.about }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-detail *clrIfDetail="let detail">
    <clr-dg-detail-header>{{ detail.id }}</clr-dg-detail-header>
    <clr-dg-detail-body>
      <section cds-layout="vertical align:center gap:lg">
        <p cds-text="body">Status: {{ detail.status }}</p>
        <p cds-text="body">CPU: {{ detail.cpu }}%</p>
        <p cds-text="body">Memory: {{ detail.memory }}%</p>
      </section>
    </clr-dg-detail-body>
  </clr-dg-detail>

  <clr-dg-footer>Datagrid footer</clr-dg-footer>
</clr-datagrid>
