<h2>@cds/core Grid with single selection behavior</h2>
<section cds-layout="vertical gap:md m-b:md">
  <p>Notes on implementing Clarity core single selection</p>
  <ul>
    <li>Need to manage the selected item; affects template state and layout</li>
    <li>Need to manage selected row state</li>
  </ul>
</section>
<cds-grid aria-label="row single select grid demo" style="--body-height: 360px;">
  <cds-grid-column type="action" aria-label="host selection column"></cds-grid-column>
  <cds-grid-column *ngFor="let column of dataFields" [id]="column">
    {{ column | titlecase }}
  </cds-grid-column>
  <cds-grid-row *ngFor="let vm of data" [selected]="selectedItem?.id === vm.id ? true : false">
    <cds-grid-cell>
      <cds-radio>
        <input type="radio" name="hosts" [id]="vm.id" aria-label="select host" (change)="vmSelectChange($event)" />
      </cds-radio>
    </cds-grid-cell>
    <cds-grid-cell *ngFor="let column of dataFields">
      {{ $any(vm)[column] }}
    </cds-grid-cell>
  </cds-grid-row>
  <cds-grid-footer> Selected: {{ selectedItem ? selectedItem?.id : 'No selection' }} </cds-grid-footer>
</cds-grid>
<h2>@clr/angular single select datagrid</h2>
<p>This is a single select <strong>@clr/angular</strong> datagrid.</p>
<section cds-layout="m-y:md">
  <h3>Selected clr VMs:</h3>
  <span>{{ clrSelectedVM?.id }} </span>
</section>
<clr-datagrid style="height: 360px;" [(clrDgSingleSelected)]="clrSelectedVM">
  <clr-dg-column *ngFor="let column of dataFields">{{ column }}</clr-dg-column>
  <clr-dg-row *ngFor="let vm of data" [clrDgItem]="vm">
    <clr-dg-cell *ngFor="let column of dataFields">
      {{ $any(vm)[column] }}
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <div cds-layout="horizontal align:fill align:left">
      Selected VM: {{ clrSelectedVM ? clrSelectedVM.id : 'None selected' }}
    </div>
  </clr-dg-footer>
</clr-datagrid>
