<h2>@cds/core Grid with single row action behavior</h2>
<section cds-layout="vertical gap:md m-b:md">
  <p>Notes on implementing Clarity core single row action</p>
  <ul>
    <li></li>
    <li></li>
  </ul>
</section>

<cds-grid aria-label="column visibility datagrid demo" style="--body-height: 360px;">
  <cds-grid-column type="action" aria-label="selection column"></cds-grid-column>
  <cds-grid-column *ngFor="let column of dataFields" [id]="column">
    {{ column | titlecase }}
  </cds-grid-column>

  <cds-grid-row *ngFor="let vm of data">
    <cds-grid-cell>
      <cds-action popup="row-actions" aria-label="host actions" (click)="showRowActions($event, vm)"></cds-action>
    </cds-grid-cell>
    <cds-grid-cell *ngFor="let column of dataFields">
      {{ $any(vm)[column] }}
    </cds-grid-cell>
  </cds-grid-row>
  <cds-grid-footer></cds-grid-footer>
</cds-grid>

<cds-dropdown
  id="row-actions"
  [hidden]="hiddenRowAction"
  [anchor]="actionPopoverAnchor"
  (closeChange)="closeRowActionPopover()"
>
  <cds-button action="flat" size="sm" (click)="shutdownVM(selectedRow)">Shutdown {{ selectedRow?.id }}</cds-button>
  <cds-button action="flat" size="sm" (click)="restartVM(selectedRow)">Restart {{ selectedRow?.id }}</cds-button>
</cds-dropdown>

<h2>@clr/angular single action datagrid</h2>
<p>This is a single action <strong>@clr/angular</strong> datagrid.</p>
<clr-datagrid style="height: 360px;">
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>Status</clr-dg-column>
  <clr-dg-column>Memory</clr-dg-column>
  <clr-dg-column>Selected</clr-dg-column>
  <clr-dg-column>About</clr-dg-column>

  <clr-dg-row *ngFor="let vm of data" [clrDgItem]="vm">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="clrAction('Shutdown', vm)">Shutdown {{ vm.id }}</button>
      <button class="action-item" (click)="clrAction('Restart', vm)">Restart {{ vm.id }}</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{ vm.id }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.status }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.memory }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.selected }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.about }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>Footer</clr-dg-footer>
</clr-datagrid>
