<h2>@cds/core Grid with column filter</h2>
<section cds-layout="vertical gap:md">
  <p>Notes on a Clarity core grid filtering</p>
  <ul>
    <li>Must keep track of the search string per column</li>
    <li>Implement a toggleFilter fn that sets the anchor (for positioning) and hides/shows the filter UI.</li>
    <li>Need to handle the first filtered list with an empty string (unless it is preset)</li>
    <li>control the hidden attribute of the dropdown</li>
    <li>set and update the dropdowns anchor</li>
    <li>listen to the dropdowns close change event to nullify the current anchor and flip the hiddenFilter boolean</li>
    <li>Note: demo uses presence of this.anchor to control rendering of the cds-dropdown element or not.</li>
  </ul>
</section>

<cds-grid aria-label="column filter datagrid demo" style="--body-height: 360px;">
  <cds-grid-column>
    ID
    <cds-action
      (click)="toggleFilter($event)"
      shape="filter"
      [status]="this.search ? 'active' : ''"
      aria-label="search hosts"
    ></cds-action>
  </cds-grid-column>
  <cds-grid-column>Status</cds-grid-column>
  <cds-grid-column>CPU</cds-grid-column>
  <cds-grid-column>Memory</cds-grid-column>
  <cds-grid-row *ngFor="let vm of filteredList">
    <cds-grid-cell>{{ vm.id }}</cds-grid-cell>
    <cds-grid-cell>{{ vm.status }}</cds-grid-cell>
    <cds-grid-cell>{{ vm.cpu }}%</cds-grid-cell>
    <cds-grid-cell>{{ vm.memory }}%</cds-grid-cell>
  </cds-grid-row>
  <cds-grid-footer></cds-grid-footer>
</cds-grid>

<ng-container *ngIf="anchor">
  <cds-dropdown
    [hidden]="hiddenFilter"
    [anchor]="this.anchor"
    (closeChange)="anchor = null; hiddenFilter = !hiddenFilter"
  >
    <cds-input>
      <input
        type="text"
        aria-label="search hosts"
        placeholder="Search"
        value=""
        [value]="this.search"
        (input)="filterByID($event)"
        [attr.anchor]="anchor"
        *ngIf="anchor"
      />
    </cds-input>
  </cds-dropdown>
</ng-container>

<h2>@clr/angular Datagrid with built in column string filter</h2>
<section cds-layout="vertical gap:md">
  <p>Notes on a Clarity core grid filtering</p>
  <ul>
    <li>With the Angular datagrid, when a model property is bound to a column sorting and filtering is turned on</li>
    <li>Filtering happens when user clicks the arrow up/down icon</li>
  </ul>
</section>
<clr-datagrid style="height: 360px;">
  <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
  <clr-dg-column>Status</clr-dg-column>
  <clr-dg-column>Memory</clr-dg-column>
  <clr-dg-column>About</clr-dg-column>

  <clr-dg-row *clrDgItems="let vm of data" [clrDgItem]="vm">
    <clr-dg-cell>{{ vm.id }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.status }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.memory }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.about }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>Datagrid footer</clr-dg-footer>
</clr-datagrid>
