<h2>Basic @cds/core Grid</h2>
<p>This is a basic <strong>@cds/core</strong> grid.</p>
<cds-grid aria-label="basic datagrid demo">
  <!-- <cds-grid-column-group> -->
  <cds-grid-column>ID</cds-grid-column>
  <cds-grid-column>Status</cds-grid-column>
  <cds-grid-column>Memory</cds-grid-column>
  <cds-grid-column>Selected</cds-grid-column>
  <cds-grid-column>About</cds-grid-column>
  <!-- </cds-grid-column-group> -->
  <cds-grid-row *ngFor="let vm of data | async">
    <cds-grid-cell>{{ vm.id }}</cds-grid-cell>
    <cds-grid-cell>{{ vm.status }}</cds-grid-cell>
    <cds-grid-cell>{{ vm.memory }}</cds-grid-cell>
    <cds-grid-cell>{{ vm.selected }}</cds-grid-cell>
    <cds-grid-cell>{{ vm.about }}</cds-grid-cell>
  </cds-grid-row>
  <cds-grid-footer>Grid footer</cds-grid-footer>
</cds-grid>

<h2>Basic @clr/angular Datagrid</h2>
<p>This is a basic <strong>@clr/angular</strong> datagrid.</p>
<clr-datagrid style="width: 100%;">
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>Status</clr-dg-column>
  <clr-dg-column>Memory</clr-dg-column>
  <clr-dg-column>Selected</clr-dg-column>
  <clr-dg-column>About</clr-dg-column>

  <clr-dg-row *ngFor="let vm of data | async">
    <clr-dg-cell>{{ vm.id }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.status }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.memory }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.selected }}</clr-dg-cell>
    <clr-dg-cell>{{ vm.about }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>Datagrid footer</clr-dg-footer>
</clr-datagrid>
