<h2>Basic @cds/core Grid</h2>
<cds-grid aria-label="basic datagrid demo" style="--body-height: 350px;">
  <cds-grid-column *ngFor="let column of dataFields" [id]="column">
    {{ column | titlecase }}
  </cds-grid-column>
  <cds-grid-row *ngFor="let vm of data">
    <cds-grid-cell *ngFor="let column of dataFields">
      {{ $any(vm)[column] }}
    </cds-grid-cell>
  </cds-grid-row>
  <cds-grid-footer>Grid footer</cds-grid-footer>
</cds-grid>

<h2>Basic @clr/angular Datagrid</h2>
<clr-datagrid style="height: 350px;">
  <clr-dg-column *ngFor="let column of dataFields" [id]="column">
    {{ column | titlecase }}
  </clr-dg-column>
  <clr-dg-row *ngFor="let vm of data">
    <clr-dg-cell *ngFor="let column of dataFields">
      {{ $any(vm)[column] }}
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>Datagrid footer</clr-dg-footer>
</clr-datagrid>
