<section class="dg-content" cds-layout="vertical">
  <h2>@cds/core Datagrid</h2>
  <cds-grid aria-label="basic datagrid demo" style="--body-height: 360px;">
    <!-- <cds-grid-column-group> -->
    <cds-grid-column>Host</cds-grid-column>
    <cds-grid-column>Status</cds-grid-column>
    <cds-grid-column>CPU</cds-grid-column>
    <cds-grid-column>Memory</cds-grid-column>
    <!-- </cds-grid-column-group> -->
    <cds-grid-row>
      <cds-grid-cell>vm-host-001</cds-grid-cell>
      <cds-grid-cell>online</cds-grid-cell>
      <cds-grid-cell>5%</cds-grid-cell>
      <cds-grid-cell>10%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-row>
      <cds-grid-cell>vm-host-003</cds-grid-cell>
      <cds-grid-cell>online</cds-grid-cell>
      <cds-grid-cell>10%</cds-grid-cell>
      <cds-grid-cell>30%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-row>
      <cds-grid-cell>vm-host-002</cds-grid-cell>
      <cds-grid-cell>online</cds-grid-cell>
      <cds-grid-cell>20%</cds-grid-cell>
      <cds-grid-cell>30%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-row>
      <cds-grid-cell>vm-host-011</cds-grid-cell>
      <cds-grid-cell>offline</cds-grid-cell>
      <cds-grid-cell>90%</cds-grid-cell>
      <cds-grid-cell>80%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-row>
      <cds-grid-cell>vm-host-004</cds-grid-cell>
      <cds-grid-cell>offline</cds-grid-cell>
      <cds-grid-cell>90%</cds-grid-cell>
      <cds-grid-cell>80%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-row>
      <cds-grid-cell>vm-host-008</cds-grid-cell>
      <cds-grid-cell>disruption</cds-grid-cell>
      <cds-grid-cell>50%</cds-grid-cell>
      <cds-grid-cell>60%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-row>
      <cds-grid-cell>vm-host-006</cds-grid-cell>
      <cds-grid-cell>deactivated</cds-grid-cell>
      <cds-grid-cell>0%</cds-grid-cell>
      <cds-grid-cell>0%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-row>
      <cds-grid-cell>vm-host-005</cds-grid-cell>
      <cds-grid-cell>offline</cds-grid-cell>
      <cds-grid-cell>85%</cds-grid-cell>
      <cds-grid-cell>70%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-row>
      <cds-grid-cell>vm-host-007</cds-grid-cell>
      <cds-grid-cell>deactivated</cds-grid-cell>
      <cds-grid-cell>0%</cds-grid-cell>
      <cds-grid-cell>0%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-row>
      <cds-grid-cell>vm-host-010</cds-grid-cell>
      <cds-grid-cell>disruption</cds-grid-cell>
      <cds-grid-cell>50%</cds-grid-cell>
      <cds-grid-cell>60%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-row>
      <cds-grid-cell>vm-host-009</cds-grid-cell>
      <cds-grid-cell>disruption</cds-grid-cell>
      <cds-grid-cell>65%</cds-grid-cell>
      <cds-grid-cell>90%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-row>
      <cds-grid-cell>vm-host-012</cds-grid-cell>
      <cds-grid-cell>offline</cds-grid-cell>
      <cds-grid-cell>85%</cds-grid-cell>
      <cds-grid-cell>70%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-row>
      <cds-grid-cell>vm-host-013</cds-grid-cell>
      <cds-grid-cell>deactivated</cds-grid-cell>
      <cds-grid-cell>0%</cds-grid-cell>
      <cds-grid-cell>0%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-footer></cds-grid-footer>
  </cds-grid>

  <h2>@clr/angular Datagrid</h2>
  <clr-datagrid style="width: 90%; height: 200px;">
    <clr-dg-column>One</clr-dg-column>
    <clr-dg-column>Two</clr-dg-column>

    <clr-dg-row *ngFor="let item of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
      <clr-dg-cell>{{ item }}</clr-dg-cell>
      <clr-dg-cell>{{ item * item }}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>Datagrid footer</clr-dg-footer>
  </clr-datagrid>
</section>
